<%= form_for(@crud_tramite) do |f| %>
  <% if @crud_tramite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crud_tramite.errors.count, "error") %> prohibited this crud_tramite from being saved:</h2>

      <ul>
      <% @crud_tramite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label @NOMBRE_NEGOCIO %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label @GIRO_NEGOCIO %><br>
    <% lista = @giros.sort %>
  <%= f.select :giro ,lista %> 
  </div>
  <div class="field">
    <%= f.label @LUGAR_DETERMINADO  %><br>
    <fieldset>
      <% lista = @opciones%>
      <% lista.each do |opcion| %>
      <%= f.radio_button :local_determinado, opcion[1] %>
      <label for="<%=opcion[1]%>"><%=opcion[0]%></label>
      <%end%>
  </fieldset> 
  </div>
  <div class="field">
    <%= f.label @PLANEAS_REMODELAR %><br>
<fieldset>
      <% lista = @opciones%>
      <% lista.each do |opcion| %>
      <%= f.radio_button :remodelacion, opcion[1] %>
      <label for="<%=opcion[1]%>"><%=opcion[0]%></label>
      <%end%>
  </fieldset> 
  </div>
<% end %>
